<div class="cards first">
  <div class="arrow_button_left">
  </div>
  <div style="width:80%;"></div>
  <div class="arrow_button_right">
  </div>
</div>
<div class="cards">
  <div class="arrow_button_left">
  </div>
  <div style="width:90%;"></div>
  <div class="arrow_button_right">
  </div>
</div>