<center class="card_container">
  <div class="cards first">
  </div>
  <div class="cards">
  </div>
  <div class="cards">
  </div>
  <div class="cards">
  </div>
  <div class="cards">
  </div>
</center>