//일반 스마트폰 Layout
@media screen and (max-device-width:450px) {
    html, body {
        width: 100%;
        margin: 0px;
    }
    
    nav {
        width: 100%;
        height: 40px;
        position: fixed;
        top: 0px;
        display: table;
        background-color: #eaeaea;
        
        .brand_name {
            margin: 0px;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }
        
        .menu_open {
            width: 32px;
            height: 32px;
            top: 4px;
            left: 4px;
            cursor: pointer;
            position: absolute;
            background-image: url("/image/menu_open.png");
        }
        .menu_close {
            width: 32px;
            height: 32px;
            top: 4px;
            left: 4px;
            cursor: pointer;
            position: absolute;
            background-image: url("/image/menu_close.png");
            display: none;
        }
    }
    
    .card_container {
        padding-top: 50px;
    }
    
    .cards {
        width: 90%;
        height: 200px;
        border: #bdbdbd 1px solid;
        border-radius: 25px;
        margin-bottom: 10px;
    }
    .first {
        height: 350px;
    }
    
    .main_drawer {
        height: 100%;
        width: 60%;
        top: 40px;
        left: 0px;
        position: absolute;
        background-color: #bdbdbd;
        display: none;
    }
}

//태블릿 Layout
@media screen and (min-device-width:451px) and (max-device-width:1024px) {
    body {
        background-color:yellow;
    }
}
    
//노트북 및 PC Layout
@media screen and (min-device-width:1025px) {
    body{
        background-color: lightgrey;
    }
}