<!DOCTYPE html>
<html>
  <head>
    <title>Swing Vote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <%= csrf_meta_tags %>
    <script>
      $(function() {
        $("#menu_open").click(function() {
          $(this).hide();
          $("#menu_close").show();
          $("#main_drawer").show('Blind');
        });
        $("#menu_close").click(function() {
          $(this).hide();
          $("#menu_open").show();
          $("#main_drawer").hide('Blind');
        });
      });
    </script>
  </head>
  <body>
    <nav>
      <div id="menu_open" class="menu_open"></div>
      <div id="menu_close" class="menu_close"></div>
      <p class="brand_name">Swing Vote</p>
    </nav>
    <div id="main_drawer" class="main_drawer"></div>
    
    <%= yield %>
    
  </body>
</html>
